section#home {
	background: linear-gradient(to bottom right, #ff4f2f, #ffa797);
	height: 100vh;
	position: relative;

	div.container-fluid {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.header {
		img {
			display: block;
			margin: 0 auto;
			height: 200px;
		}
		span {
			color: white;
			text-align: center;
		}
	}
	div.body {
		margin-top: 30px;
		.form-horizontal .form-group {
			margin-left: 0;
			margin-right: 0;
		}
		#signup {
			text-align: center;
			a {
				text-decoration: none;
			}
		}
		#login-error {
			color: red;
			text-align: center;
		}
	}

	.has-success .form-control {
		border-bottom: solid 1px $success;	
	}
	.has-error .form-control {
		border-bottom: solid 1px $danger;
	}

  input {
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: solid 1px white;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: white;
		&::-webkit-input-placeholder {
			color: white;
			font-weight: 300;
		}
		&::-moz-placeholder {
			color: white;
			font-weight: 300;
		}
		&:-ms-input-placeholder {
			color: white;
			font-weight: 300;
		}
	}
	input:focus {
		border-bottom: solid 1px dimgrey;
	}
	.form-control:focus {
		box-shadow: none;
	}
}