<section id="dashboard">
	<div class="container-fluid">
		<div class="row board">
			<div class="col-sm-6 left-column">
				<div class="row board-panel">
					<div class="panel-container" ng-hide="!timerRunning" style="background: none; background-color: white; position: absolute; top:10px; z-index: 10; padding: 15px; height: calc(100% - 20px); width: calc(100% - 20px); opacity: 0.8;"></div>
					<div class="panel-container">
						<article ng-repeat="inbox in inboxes track by $index">
							<div class="inbox-title" ng-click="isCollapsed = !isCollapsed">
								<span>{{ inbox.title }}</span>
								<button class="btn" ng-click="createTask($event, inbox._id, inbox.title);">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<button class="btn" ng-click="editInbox($event, inbox._id);">
									<span class="glyphicon glyphicon-wrench"></span>
								</button>
								<button class="btn" ng-click="deleteInbox($event, inbox._id);">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
							<div class="inbox-tasks" ng-init="isCollapsed=true" uib-collapse="isCollapsed">
								<div class="task" ng-repeat="task in tasksInInbox(inbox._id) track by $index">
									<br>
									<span class="glyphicon glyphicon-unchecked"></span>
									<span id="{{ inbox._id + '-' + $index }}" ng-click="select($event, task)">{{ task.title }}</span>
									<br>
								</div>
								<br>
							</div>
							<br>
						</article>
						<article>
							<div class="inbox-title" ng-click="createInbox()">
								<span class="glyphicon glyphicon-plus"></span>&nbsp;Create new inbox
								<button type="button" class="btn btn-success" id="logout" ng-click="logout($event)">Log out</button>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="col-sm-6 right-column">
				<div class="row board-panel">
					<div class="panel-container timer">
						<article>
							<div class="timer-menu">
								<span ng-hide="!timerRunning || timerQueue.length % 2 === 1">Work in progress...</span>
								<span ng-hide="!timerRunning || timerQueue.length % 2 === 0">Take a break!</span>
								<button type="button" class="btn btn-success" ng-disabled="!timerQueue.length" ng-click="startTimer()" ng-hide="currentTask.empty">Start</button>
								<button type="button" class="btn btn-danger" ng-disabled="!timerRunning" ng-click="cancelTimer()" ng-hide="currentTask.empty">Cancel</button>
							</div>
							<div class="time">
								<img ng-src="/assets/pomodoro.png" ng-hide="timerRunning">
							</div>
						</article>
					</div>
				</div>
				<div class="row board-panel">
					<div class="panel-container" ng-hide="!timerRunning" style="background: none; background-color: white; position: absolute; top:5px; z-index: 10; padding: 15px; height: calc(100% - 15px); width: calc(100% - 20px); opacity: 0.8;"></div>
					<div class="panel-container task-panel">
						<article>
							<div class="task-title">
								{{ "[" + currentTask.inbox.title + "] " + currentTask.title }}
								<button class="btn" ng-click="editTaskTitle(currentTask.inbox._id, currentTask._id);" ng-hide="currentTask.empty">
									<span class="glyphicon glyphicon-wrench"></span>
								</button>
								<button class="btn" ng-click="deleteTask(currentTask.inbox._id, currentTask._id);" ng-hide="currentTask.empty">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
							<div class="task-detail">
								<div class="detail" id="task-message" ng-hide="!currentTask.empty">Select a task from your inbox to edit, delete, or start a pomodoro.</div>
								<div class="detail" ng-hide="currentTask.empty">
									<div class="btn-group">
									  <button type="button" class="btn btn-success" ng-disabled="currentTask.pomodoros <= 1" ng-click="changePomodoro(-1)"><span class="glyphicon glyphicon-minus"></span></button>
									  <button type="button" class="btn btn-success">{{ currentTask.pomodoros }}</button>
									  <button type="button" class="btn btn-success" ng-disabled="currentTask.pomodoros > 3" ng-click="changePomodoro(1)"><span class="glyphicon glyphicon-plus"></span></button>
									</div>
									<div class="key">Pomodoros</div>
								</div>
								<div class="detail" ng-hide="currentTask.empty">
									<div class="btn-group">
									  <button type="button" class="btn btn-success" ng-disabled="currentTask.priority === 'low'" ng-click="changePriority(false)"><span class="glyphicon glyphicon-minus"></span></button>
									  <button type="button" class="btn btn-success" style="width: 76px;">{{ currentTask.priority }}</button>
									  <button type="button" class="btn btn-success" ng-disabled="currentTask.priority === 'high'" ng-click="changePriority(true)"><span class="glyphicon glyphicon-plus"></span></button>
									</div>
									<div class="key">Priority</div>
								</div>
								<div class="detail" ng-hide="currentTask.empty">
							    <div class="btn-group" uib-dropdown>
							      <button type="button" class="btn btn-success" uib-dropdown-toggle >
							      	{{ months[currentTask.due.getMonth()] }}&nbsp;&nbsp;<span class="caret"></span>
							      </button>
							      <ul class="uib-dropdown-menu" role="menu" style="height: 150px; overflow-y: scroll;">
						          <li role="menuitem" ng-repeat="month in months">
						          	<a ng-click="selectDate(month)" style="cursor: pointer">
						          		{{ month }}
						          	</a>
						          </li>
							      </ul>
							    </div>
							    <div class="btn-group" uib-dropdown>
							      <button type="button" class="btn btn-success" uib-dropdown-toggle>
							      	{{ currentTask.due.getDate() }}&nbsp;&nbsp;<span class="caret"></span>
							      </button>
							      <ul class="uib-dropdown-menu" role="menu" style="height: 150px; overflow-y: scroll;">
						          <li role="menuitem" ng-repeat="day in days(currentTask.due)">
						          	<a ng-click="selectDate(null, day)" style="cursor: pointer">
						          		{{ day }}
						          	</a>
						          </li>
							      </ul>
							    </div>
							    <div class="btn-group" uib-dropdown>
							      <button type="button" class="btn btn-success" uib-dropdown-toggle>
							      	{{ currentTask.due.getFullYear() }}&nbsp;&nbsp;<span class="caret"></span>
							      </button>
							      <ul class="uib-dropdown-menu" role="menu">
						          <li role="menuitem" ng-repeat="year in years()">
						          	<a ng-click="selectDate(null, null, year)" style="cursor: pointer">
						          		{{ year }}
						          	</a>
						          </li>
							      </ul>
							    </div>
									<div class="key">Due date</div>
								</div>
								<div class="detail" ng-hide="currentTask.empty">
									<textarea class="form-control" rows="3" ng-model="currentTask.notes"></textarea>
									<button type="button" class="btn btn-danger" ng-click="updateTask(currentTask)">Save</button>
									<div class="key">Notes</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>